@use "global" as *;

.c-btn {
  padding: rem(12) rem(44) rem(15) rem(60);
  font-size: rem(24);
  font-weight: 700;
  letter-spacing: .48px;
  border-radius: 54.5px;
  background-color: $white;
  display: inline-flex;
  gap: rem(38);
  align-items: center;
  justify-content: center;
  transition: border-color, color, .3s ease-out;

  @include mq(md) {
    padding: rem(11) rem(39) rem(14) rem(69);
    font-size: rem(16);
    letter-spacing: .32px;
    gap: rem(26);
    line-height: 1;
  }

  &::after {
    content: "";
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(10);
    height: rem(17);
    transition: background-color 0.3s ease-out;
    mask: url(../images/common/arrow-next.svg) no-repeat center center/cover;
    -webkit-mask: url(../images/common/arrow-next.svg) no-repeat center center/cover;

    @include mq(md) {
      width: rem(7);
      height: rem(12);
    }
  }
}

.c-btn--red {
  color: $red;
  border: 2px solid $red;

  &::after {
    background: $red;
  }
}

.c-btn--blue {
  color: $blue;
  border: 2px solid $blue;

  &::after {
    background: $blue;
  }
}

@media (hover: hover) {
  .c-btn:hover {
    color: $white;
    opacity: 1;

    &::after {
      background-color: $white;
    }
  }

  .c-btn--red:hover {
    background-color: $red;
  }

  .c-btn--blue:hover {
    background-color: $blue;
  }
}