// @use "global" as *;

// .c-common-page__counts {
//     list-style-type: decimal;
//     margin-left: rem(20);
// }

// .c-common-page__numbers {
//     list-style-type: lower-roman;
//     margin-left: rem(20);
// }

// .c-common-page__characters {
//     list-style-type: lower-latin;
//     margin-left: rem(20);
// }

// .c-common-page__abc {
//     list-style-type: upper-alpha;
//     margin-left: rem(20);
// }