@use "global" as *;

.c-util-title {
    font-size: rem(48);
    font-weight: 500;
    letter-spacing: 2.4px;
    line-height: 1;

    @include mq(md) {
        font-size: rem(24);
        letter-spacing: 1.2px;
    }
}

.c-util-title--wrap {
    @include mq(md) {
        line-height: 1.25;
    }
}

.c-util-sub-title {
    font-size: rem(16);
    font-weight: 500;
    line-height: 2;
    margin-top: rem(32);

    @include mq(md) {
        font-size: rem(12);
        margin-top: rem(18);
        line-height: 2;
    }
}

.c-util-title--en {
    font-size: rem(48);
    font-weight: 500;
    letter-spacing: 2.4px;
    line-height: 1;

    font-family: $sub-font-family;
    font-weight: 300;
    text-align: center;

    @include mq(md) {
        font-size: rem(32);
    }
}

.c-util-sub-title--en {
    font-size: rem(16);
    font-weight: 500;
    line-height: 2;
    margin-top: rem(32);

    @include mq(md) {
        font-size: rem(12);
        margin-top: rem(32);
        letter-spacing: 0.32px;
        line-height: 2;
    }
}