@use "global" as *;

.p-footer {
    color: $white03;
    padding-top: rem(60);
    background: url("../images/common/footer-bg.webp")no-repeat center center / cover;

    @include mq(md) {
        padding-top: rem(32);
        overflow: hidden;
    }
}

.p-footer__inner {
    max-width: rem(1370);
    width: 100%;
    margin-inline: auto;
    padding: 0 rem(25);

    @include mq('md') {
        padding: 0 rem(27);
    }
}

.p-footer__container {
    max-width: rem(1320);
    padding-bottom: rem(96);
    width: 100%;
    margin-inline: auto;
    padding-right: min(calc((120 / 1440) * 100vw), 120px);

    @include mq('inner') {
        padding-right: rem(80);
    }

    @include mq('md') {
        padding-bottom: rem(48);
        padding-right: 0;
    }
}

.p-footer__btn-labels {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(18) rem(46);

    @include mq(md) {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: rem(32);
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background: rgba(255, 255, 255, 0.20);
            width: 100vw;
            height: 1px;
            bottom: 0;
            left: rem(-27);
        }
    }
}

.p-footer__btn-label {
    background: $white;

    @include mq(md) {
        max-width: rem(320);
        width: 100%;
        margin-inline: auto;
    }
}

.p-footer__btn-link {
    width: 100%;
    line-height: 1.5;
    color: $red;
    padding: rem(31) rem(56) rem(33) rem(118);
    display: inline-flex;
    gap: rem(31);
    align-items: center;
    justify-content: space-between;
    transition: all .3s ease-out;
    box-shadow: 0px 4px 10px 0px rgba(54, 24, 24, 0.80);

    @include mq(md) {
        padding: rem(19) rem(21);
        padding-left: rem(50);
        gap: rem(60);
    }
}

.p-footer__btn-link--order {
    background: url("../images/common/footer_btn01.webp")no-repeat left center / cover;

}

.p-footer__btn-link--qa {
    background: url("../images/common/footer_btn02.webp")no-repeat left center / cover;

}

.p-footer__btn-text {
    display: flex;
    flex-direction: column;
}

.p-footer__btn-link span {
    font-size: rem(18);
    letter-spacing: .72px;

    @include mq(md) {
        font-size: rem(12);
        letter-spacing: .48px;
    }
}

.p-footer__btn-link p {
    font-size: rem(40);
    font-weight: 700;
    letter-spacing: 1.2px;

    @include mq(md) {
        letter-spacing: 0.72px;
        font-size: rem(24);
    }
}

.p-footer__btn-link:after {
    content: "";
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(12);
    height: rem(19);
    transition: background-color 0.3s ease-out;
    background: $red;
    mask: url(../images/common/arrow-next.svg) no-repeat center center/cover;
    -webkit-mask: url(../images/common/arrow-next.svg) no-repeat center center/cover;

    @include mq(md) {
        display: none;
    }

}

.p-footer__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 rem(46);
    margin-top: rem(59);

    @include mq(md) {
        grid-template-columns: repeat(1, 1fr);
        margin-top: rem(32);

    }
}

.p-footer__items-box {
    display: flex;

    @include mq(md) {
        flex-direction: column-reverse;
    }
}

.p-footer__info {
    width: rem(340);
    max-width: 100%;

    @include mq(md) {
        width: 100%;
        position: relative;
        padding-bottom: rem(29);
        padding-top: rem(32);

        &::before {
            content: "";
            position: absolute;
            background: rgba(255, 255, 255, 0.20);
            width: 100vw;
            height: 1px;
            bottom: 0;
            left: rem(-27);
        }
    }
}


.p-footer__logo-img {
    display: block;
    max-width: rem(130);
    width: 100%;
    height: auto;

}

.p-footer__company-info {
    @include mq(md) {
        max-width: rem(320);
        width: 100%;
        margin-inline: auto;
    }
}

.p-footer__company-text {
    margin-top: rem(24);
    font-size: rem(14);
    line-height: 1.7;
}


.p-footer__tel a {
    padding: .4em;
    margin-left: -0.4em;
}

.p-footer__links {
    margin-top: rem(21);
    display: flex;
    align-items: center;

    @include mq(md) {
        margin-top: rem(16);
        max-width: rem(320);
        width: 100%;
        margin-inline: auto;
    }
}

.p-footer__sns {
    margin-left: -0.4em;
}

.p-footer__sns a {
    display: block;
    padding: .4em;
}

.p-footer__sns-img {
    width: rem(25);
    max-width: 100%;
    height: rem(25);
    display: block;

    @include mq(md) {
        width: rem(24);
        height: rem(24);
    }
}

.p-footer__sns-img img {
    object-fit: contain;
    display: flex;
}

.p-footer__page-links {
    display: flex;
    align-items: center;
    margin-left: rem(8);

    @include mq(md) {
        margin-left: rem(8);
    }
}

.p-footer__page-links a {
    font-size: rem(12);
    padding: .4em;
    transition: color 0.3s ease-out 0s;
}



.p-footer__page-links a:first-child {
    padding-right: rem(12);

    @include mq(md) {
        padding-right: rem(11);
    }
}

.p-footer__page-links a:last-child {
    margin-left: rem(12);
    position: relative;

    @include mq(md) {
        margin-left: rem(6);
    }

    &::before {
        content: "";
        position: absolute;
        background-color: $gray;
        width: 1px;
        height: rem(17);
        top: 50%;
        transform: translateY(-50%);
        left: rem(-12);

        @include mq(md) {
            left: rem(-5);
            height: rem(13);
        }
    }
}

.p-footer__nav {
    width: rem(237);
    max-width: 100%;
    margin-left: auto;
    flex-shrink: 0;
    font-size: rem(14);
    font-weight: 500;
    letter-spacing: .28px;
    flex-shrink: 0;

    @include mq(md) {
        margin-left: 0;
        width: 100%;
        margin-top: 0;
        font-size: rem(12);
        position: relative;
        padding-bottom: rem(32);

        &::before {
            content: "";
            position: absolute;
            background: rgba(255, 255, 255, 0.20);
            width: 100vw;
            height: 1px;
            bottom: 0;
            left: rem(-27);
        }
    }
}

.p-footer__nav-items {
    border-left: 1px solid $white03;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: rem(20) 0;

    @include mq(md) {
        display: flex;
        flex-wrap: wrap;
        max-width: rem(320);
        width: 100%;
        margin-inline: auto;
    }
}

.p-footer__nav-item a {
    padding: .4em;
    padding-left: rem(12);
    transition: color 0.3s ease-out 0s;
    opacity: 1;

    @include mq(md) {
        padding-left: rem(11);
    }
}



.p-footer__contact-info {
    margin-left: auto;
    width: rem(570);
    max-width: 100%;
    gap: rem(18) 0;
    flex-shrink: 0;

    @include mq(md) {
        margin-top: rem(31);
        width: rem(320);
        margin-inline: auto;
    }
}



.p-footer__contact-head {
    font-size: rem(18);
    font-weight: 500;
    letter-spacing: .36px;

    @include mq(md) {
        font-size: rem(16);
        letter-spacing: .32px;
    }

}

.p-footer__contact-btn {
    margin-top: rem(16);

    @include mq(md) {
        margin-top: rem(24);
    }
}

.p-footer__contact-link {
    display: block;
    border: 1px solid #EBE0D9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    padding: rem(18) rem(15) rem(25) rem(75);
    color: $white04;

    @include mq(md) {
        flex-direction: column;
        align-items: flex-end;
        padding: rem(21) rem(15) rem(16);
    }
}

.p-footer__contact-tel {
    line-height: 1;
    font-size: rem(40);
    font-weight: 700;
    letter-spacing: 2px;
    font-family: $sub-font-family;
    position: relative;
    padding-right: rem(24);

    @include mq(md) {
        font-size: rem(32);
        letter-spacing: 1.6px;
        line-height: 1;
        padding-right: 0;
    }

    &::before {
        content: "";
        position: absolute;
        background: url(../images/common/icon_tel.svg) no-repeat center center/contain;
        width: rem(33);
        height: rem(33);
        top: 60%;
        transform: translateY(-50%);
        left: rem(-50);

        @include mq(md) {
            left: rem(-44);
            width: rem(28);
            height: rem(28);
        }
    }
}

.p-footer__contact-time {
    padding-top: rem(1);
    padding-bottom: rem(4);
    font-size: rem(12);
    line-height: 1.75;
    padding-left: rem(21);
    border-left: 1px solid $white02;

    @include mq(md) {
        margin-top: rem(18);
        padding-top: rem(11);
        text-align: right;
        border: none;
        border-top: 1px solid $white02;
    }
}


.p-footer__contact-text {
    margin-top: rem(18);
    font-size: rem(12);
    line-height: 1.75;

    @include mq(md) {
        margin-top: rem(16);
    }
}

.p-footer__copy-right {
    width: 100%;
    display: block;
    text-align: center;
    color: $white04;
    background-color: $red02;
    font-family: $sub-font-family;
    padding-top: rem(23);
    padding-bottom: rem(31);
    font-size: rem(18);
    font-weight: 600;
    letter-spacing: 0.36px;

    @include mq(md) {
        letter-spacing: 0.24px;
        font-size: rem(12);
        padding-top: rem(9);
        padding-bottom: rem(14);
        margin-bottom: rem(90);
    }
}

@media (hover: hover) {

    .p-footer__page-links a:hover,
    .p-footer__nav-item a:hover {
        opacity: 1;
        color: $white;
    }

    // .p-footer__btn-link:hover .p-footer__btn-label {
    //     background: $white;
    // }
}