@use "global" as *;

.p-header {
    height: 60px;
    font-size: rem(16);
    width: 100%;
    background-color: $white;
    letter-spacing: 0.32px;

    @include mq("md") {
        height: 27px;
        background-color: transparent;
    }
}

.p-header__inner {
    position: relative;
    z-index: $layer-header + 5;
    max-width: rem(1800);
    width: 100%;
    margin-inline: auto;
    height: inherit;
    display: flex;
    justify-content: space-between;
    padding-left: rem(40);
}

.p-header__logo {
    height: inherit;
}

.p-header__logo a {
    height: inherit;
    display: flex;
    align-items: center;

    @include mq(md) {
        align-items: flex-start;
    }
}

.p-header__logo-img {
    width: 100%;
    max-width: rem(160);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mq(md) {
        display: none;
    }
}

.p-header__logo-img img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.p-header__nav-lists {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    margin-right: rem(90);
}

.p-header__nav {
    height: inherit;

    @include mq("md") {
        display: none;
        height: inherit;
    }
}

.p-header__nav-items {
    display: flex;
    justify-content: flex-end;
    height: inherit;
}

.p-header__nav-item {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: rem(20);
}

.p-header__nav-item a {
    padding: rem(8) rem(14);
    display: flex;
    align-items: center;
    line-height: 1;
    white-space: nowrap;
    transition: color 0.3s ease 0s;
}

@media (hover: hover) {
    .p-header__nav-item a:hover {
        color: $red;
    }
}

/* hamburger */
.p-header__hamburger {
    display: none;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    position: relative;
    z-index: 999;
    width: 35px;
    height: 27px;
    cursor: pointer;
    transition: .3s;
    right: 0;
    top: 0;

    @include mq("md") {
        display: block;
    }
}

.p-header__hamburger span {
    top: 12px;
    left: 0;
    display: block;
    height: 1px;
    background-color: $black;
    transition: .3s;
    left: 0;
    position: absolute;
}

.p-header__hamburger span:nth-of-type(1) {
    top: 12px;
    width: 20px;
}

.p-header__hamburger span:nth-of-type(2) {
    top: 19px;
    width: 15px;
}

.p-header__hamburger span:nth-of-type(3) {
    top: 26px;
    width: 10px;
}

.p-header__hamburger.is-open span:nth-of-type(1) {
    top: 20px;
    transform: rotate(45deg);
    width: 21px;
}

.p-header__hamburger.is-open span:nth-of-type(2) {
    opacity: 0;
}

.p-header__hamburger.is-open span:nth-of-type(3) {
    top: 20px;
    transform: rotate(-45deg);
    width: 21px;

}


/* drawer */
.p-header__drawer {
    height: 100%;
    position: fixed;
    z-index: $layer-header + 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    color: $black;
    text-align: center;
    transition: transform 0.3s ease;
    transform: translateX(100%);
    padding-top: rem(70);
    font-weight: 500;
    background: url("../images/common/drawer-img.webp")repeat top center / cover;
}

.p-header__drawer.is-open {
    transform: translateX(0);
}

.p-header__drawer::-webkit-scrollbar {
    display: none;
}

.p-header__drawer-nav {
    margin: auto;
}

.p-header__drawer-menu-list {
    font-size: rem(12);
}

.p-header__drawer-menu-item:not(:first-child) {
    margin-top: rem(10);
}

.p-header__drawer-link {
    padding: rem(24) 0;
    display: block;
}