@use "global" as *;

.p-order {
    background: url(../images/common/top-order_bg.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100%;
    color: $white04;
    padding-top: rem(96);
    padding-bottom: rem(92);

    @include mq(md) {
        padding-top: rem(48);
        padding-bottom: rem(40);
        background: url(../images/common/top-order_bg-sp.jpg) no-repeat center center/cover;
    }
}

.p-order__inner {
    @include mq(md) {
        padding-inline: rem(28);
    }
}

.p-order__text {
    margin-top: rem(24);

    @include mq(md) {
        margin-top: rem(92);
    }
}

.p-order__btn {
    margin-top: rem(56);

    @include mq(md) {
        margin-top: rem(17);
    }
}
