@use "global" as *;

.p-top-blog {
    background-color: $white02;

    @include mq(md) {
        padding-inline: rem(17);
    }
}

.p-top-blog__box {
    display: flex;
    justify-content: space-between;

    @include mq(md) {
        flex-direction: column;
    }

}

.p-top-blog__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @include mq('md') {
        display: contents;
    }
}

.p-top-blog__head {

    @include mq('md') {
        order: 1;
        text-align: center;
    }
}

.p-top-blog__btn {

    @include mq('md') {
        order: 3;
    }
}


.p-top-blog__btn {
    @include mq(md) {
        margin-left: auto;
        margin-top: rem(40);
    }
}



.p-top-blog__right {
    width: 57.5%;


    @include mq('md') {
        order: 2;
        width: 100%;
        margin-top: rem(40);
    }
}

.p-top-blog__content {
    display: flex;
    align-items: center;
    padding-top: rem(38);
    padding-bottom: rem(19);
    border-bottom: 1px solid $gray;
    padding-right: rem(79);
    position: relative;

    @include mq(md) {
        padding-top: rem(20);
        padding-bottom: rem(20);
        padding-right: 0;
    }

    &::after {
        content: "";
        position: absolute;
        background: url(../images/common/next-btn.png) no-repeat center center/contain;
        width: 7px;
        height: 12px;
        top: 50%;
        transform: translateY(-50%);
        right: rem(40);
        transition: all 0.5s ease 0s;

        @include mq(md) {
            display: none;
        }
    }
}

.p-top-blog__content time {
    color: $black;
    font-family: $sub-font-family;
    font-size: rem(24);
    letter-spacing: 0.96px;
    display: block;

    @include mq(md) {
        font-size: rem(20);
        letter-spacing: .8px;
    }
}

.p-top-blog__content-title {
    margin-left: rem(32);
    transition: all 0.5s ease 0s;

    @include mq('md') {
        margin-left: rem(18);
    }
}

@media (hover: hover) {

    .p-top-blog__content:hover .p-top-blog__content-title {
        transform: translate(20px);
    }

    .p-top-blog__content:hover::after {
        right: rem(10);
    }
}

.p-top-blog__content:hover {
    opacity: 1;
}