@use "global" as *;

.p-top-mv {
    margin-top: rem(60);
    position: relative;
    width: 100%;
    height: 100vh;

    @include mq(md) {
        height: 100svh;
        margin-top: 0;
    }
}

.p-top-mv__img {
    width: 100%;
    height: 100%;
    display: block;

}

.p-top-mv__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.p-top-mv__logo {
    display: block;
    font-size: 0;
    max-width: rem(320);
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.p-top-mv__logo img {
    height: auto;
    object-fit: contain;
}

.p-top-mv__deco {
    display: block;
    position: absolute;
    bottom: rem(130);
}

.p-top-mv__deco img {
    object-fit: cover;
}