@use "global" as *;

.p-archive-blog {
  background-color: $white02;
}

.p-archive-blog__inner {
  max-width: rem(947);
  width: 100%;
  margin-inline: auto;
}

.p-archive-blog__cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(32) 0px;

  @include mq('md') {
    gap: rem(24) 0;
  }
}

.p-archive-blog__pages {
  margin-top: rem(60);
  text-align: right;

  @include mq('md') {
    margin-top: rem(40);
  }
}

//崩れ防止
/* 画像の中央寄せ */
.aligncenter {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

/* figureタグで囲まれた画像の中央寄せ */
.aligncenter img {
  height: auto;
  max-width: 100%;
}

/* 画像右寄せ */
.alignright {
  height: auto;
  margin-left: auto;
  max-width: 100%;
}

/* figureタグで囲まれた画像右寄せ */
.alignright img {
  height: auto;
  max-width: 100%;
}

/* 位置指定のない画像 */
.alignnone {
  height: auto;
  max-width: 100%;
}

/* figureタグで囲まれた位置指定のない画像 */
.alignnone img {
  height: auto;
  max-width: 100%;
}

/* 自動折り返し有効化 */
pre {
  white-space: pre-wrap;
}