@use "global" as *;

.p-recruit {
    background-color: $white02;
    padding-top: rem(136);
    padding-bottom: rem(144);

    @include mq(md) {
        padding-top: rem(40);
        padding-bottom: rem(28);
    }
}

.p-recruit__inner {
    @include mq(md) {
        padding-inline: rem(27);
    }
}

.p-recruit__box {
    background: rgba(248, 248, 248, 0.80);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.20);
    padding: rem(80) rem(120);
    color: $black;

    @include mq(md) {
        padding: rem(40) rem(24);
    }
}

.p-recruit__head {
    font-size: rem(24);
    letter-spacing: 1.92px;
    line-height: 1.125;
    font-weight: 600;

    @include mq(md) {
        font-size: rem(18);
        letter-spacing: 0.36px;
        line-height: 1.5;
        text-align: center;
    }
}

.p-recruit__text {
    margin-top: rem(24);
    line-height: 1.6825;
    letter-spacing: 1.28px;

    @include mq(md) {
        margin-top: rem(32);
        font-size: rem(12);
        letter-spacing: 0.15px;
        line-height: 1.8;
    }
}