@use "global" as *;

.l-inner {
  max-width: rem(1370);
  width: 100%;
  margin-inline: auto;
  padding: 0 rem(25);

  @include mq('md') {
    max-width: rem(600);
    padding: 0 rem(27);
  }
}

.l-inner--service {
  max-width: rem(1300);
  width: 100%;
  margin-inline: auto;
  padding: 0 rem(20);

  @include mq('md') {
    max-width: rem(600);
    padding: 0 0 0 rem(10);
  }
}

.l-inner--small {
  max-width: rem(1120);
  width: 100%;
  margin-inline: auto;
  padding: 0 rem(20);

  @include mq('md') {
    max-width: rem(600);
    padding: 0 rem(10);
  }
}